.event{
    margin-top: 5%;
}


.status{
    float:'right' !important;
}
.modal{
    width: 90% !important;
}


.textarea:focus{
    outline: 0 !important;
    border: none;
    outline-offset: 0 !important;
}