.btn-express {
    background-color: #2196F3;
    box-shadow: 0 3px 10px 2px rgba(33, 203, 243, .3);
    padding-left: 45%;
    padding-right: 52%;
    text-align: center !important;
    border: none !important;
    width: 100% !important;
    float: right !important;
    border-radius: 3;
    color: 'white';
    outline: none !important;

}

.btn-express:hover {
    background-color: #55aff8;
}

.modal {
    margin-left: 5%;
}
.modal-title {
    margin-left: 12%;
}

.close {
    border: none;
    background-color: white;
}

.btn-req {
    width: 30% !important;
    background-color: #2196F3 !important;
    outline: none !important;
    border: none !important;
}
.btn-req:hover {
    background-color: #61b3f7 !important;
}

.btn-reset {
    color: white;
    background-color: red !important;
    outline: none !important;
    border: none !important;
}
.btn-reset:hover {
    background-color: rgb(241, 77, 77) !important;
}

.loading-expr {
    color: #61b3f7 !important;
    float: right;
    width: 10% !important;
    margin-right: 20%;
}
