
.description , .desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



.title{
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 30px;
    color:#2196F3

}
.MuiCardHeader-title{
    white-space: nowrap !important; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis !important;
    min-height: 30px;

}


/*update*/